/* src/components/common/ThemeToggle/ThemeToggle.module.css */
.toggleButton {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: var(--spacing-2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-primary);
    border-radius: var(--border-radius-full);
    transition: background-color var(--transition-fast), color var(--transition-fast);
}

.toggleButton:hover {
    background-color: var(--color-bg-card);
    color: var(--color-primary);
}

.icon {
    font-size: var(--font-size-xl);
}